
{% extends "base.html" %}
{% load crispy_forms_tags %}


{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="">
  <div class="">
    <div class="">
      <h1 class="text-center">Please Log In</h1>
      <hr>
    </div>
  </div>
  <div class="container">

    <div class="">
      <div class="">
        <h2>{% trans "Login" %}</h2>
        <p>{% blocktrans %}If you have not created an account yet, then please
          <a href="{{ signup_url }}">register</a> first.{% endblocktrans %}</p>
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form| crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <a class="" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          <button class="" type="submit">{% trans "Log in" %}</button>
        </form>
      </div>
    </div>
  </div>
</div>



  {% endblock %}
